@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  outline: none;
}

body {
  background-color: rgba(65, 65, 65, 1);
  background-image: linear-gradient(-45deg, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  overflow-x: hidden;

  @media  screen and (min-width: 1000px) {
    .about {
      background-image: linear-gradient(90deg, rgba(65, 65, 65, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
